<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td width="100%">
          <div style="max-width:600px;Margin:0 auto">
            <table
              align="center"
              cellpadding="0"
              cellspacing="0"
              style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px"
            >
              <tbody>
                <tr>
                  <td style="text-align:justify;word-break:break-word">
                    <table style="margin-bottom:20px;width:100%" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <table
                              style="width:100%;margin-bottom:20px"
                              width="100%"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tbody>
                                <tr>
                                  <td>                                    
                                    <h2
                                      style="font-size:21px;line-height:30px;color:#054752;word-break:normal"
                                    >
                                    Bonjour <%= user_firstname %> <%= user_lastname %>,
                                    </h2>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
  
                        <tr>
                          <td>
                            <center>
                              <table
                                style="background-color:#fff;margin-bottom:20px;table-layout:fixed"
                                align="center"
                                width=""
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Merci de vous être pré-inscrit·e au programme de test de <strong>YaPrescription</strong>, le service qui vous permet de garder un temps d'avance sur votre rupture de stock de médicaments.</p>

                                            <h3 style="font-size:16px;line-height:30px;color:#054752;word-break:normal">Quand est-ce que ça commence ?</h3>
                                            <p>Aucune date n'est fixée pour le moment, mais ne vous en faites pas, un mail vous sera envoyé afin que vous puissiez confirmer votre inscription à ce programme.</p>
                                            <h3 style="font-size:16px;line-height:30px;color:#054752;word-break:normal">En attendant...</h3>
                                            <p>Restez connecté, si vous êtes arrivé ici, c'est que vous suivez la ou les personne(s) qu'il faut pour être tenu au courant. Aucun mail ne vous sera envoyé entre temps si ce n'est celui pour confirmer votre participation à la version alpha.</p>
                                            <p>Cordialement,</p>
                                            <p>Mathieu Gervais</p>
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                            </center>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <table width="100%" style="margin-bottom:20px;width:100%">
                      <tbody>
                        <tr>
                          <td width="100%">
                            <div
                              style="width:100%;height:1px;background-color:#ddd"
                              color="#DDD"
                              width="100%"
                            ></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    <table
                      style="max-width:100%;width:100%;text-align:center;font-family:ArialMT,Arial,sans-serif"
                      cellspacing="0"
                      cellpadding="0"
                    >
                      <tbody>
                        <tr>
                          <td style="text-align:center">
                            <p
                              style="font-size:10px;color:#708c91;text-align:center;padding:0;margin-top:10px;margin-bottom:2px"
                            >
                              Cet email a été envoyé par l'équipe de <i>YaPrescription.com</i> (merci de ne pas répondre)
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>